        /*manomboka ny navbar*/
        
        a {
            color: #fcfbfa;
        }
        
        a:hover {
            text-decoration: none;
        }
        
        h2 {
            color: rgb(51, 50, 50);
            font-size: 2.571rem;
            line-height: 3rem;
            text-transform: uppercase;
        }
        
        #topbar {
            background: #189cd0;
            padding: 10px 0;
            font-size: 14px;
        }
        
        #topbar .contact-info {
            color: #fff;
        }
        
        #topbar .contact-info a {
            line-height: 1;
            color: #fff;
            transition: 0.3s;
        }
        
        #topbar .contact-info a:hover {
            color: #fff;
        }
        
        #topbar .contact-info i {
            color: #3ae211;
            padding: 4px;
            transform: rotate(90deg);
        }
        
        #topbar .contact-info .icofont-phone {
            padding-left: 20px;
            border-left: 1px solid #e9e9e9;
        }
        
        #topbar .social-links a {
            font-size: 30px;
            cursor:  pointer !important;
            color: #fff;
            padding-bottom: 5px;
            display: inline-block;
            line-height: 1px;
            transition: 0.3s;
            margin-left: 10px;
        }
        
        /*
# Eto ny top header no mifarana
*/
        /*
# Manomboka eto ny nav bar
*/
        
        .navbar {
            background: white !important;
            margin-top: 40px;
            box-shadow: 0 0 0px 1px rgba(73, 73, 73, 0.3);
            transition: 0.3s;
            padding: 3px;
            text-align: center;
        }
        
        .navbar h3 {
            color: #000;
            font-weight: bold;
            line-height: 30px;
        }

        .navbar h3 span {
            color: #189cd0;
        }
        
        .navbar .navbar-brand {
            color: aliceblue !important;
        }
        
        .navbar ul li a:hover {
            background: none;
            color: #189cd0 !important;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        
        .navbar ul li a {
            color: #189cd0 !important;
            font-size: 15px;
            transition: 0.3s;
        }
        
        .navbar ul li .ligne {
            color: #189cd0;
        }
        
        .logo_emedia {
            height: 40px;
        }
        
        .on {
            margin-top: 0!important;
            transition: 0.6s;
        }
        
        .onTop {
            margin-top: 40px!important;
            transition: 0.6s;
        }

        .accueil .ligne {
            color: #189cd0;
            transition: .5s;
        }

        .bottom-solid {
            text-align: center;
            justify-content: center;
            content: "";
            position: absolute;
            left: 19%;
            bottom: 0;
            width: 40%;
            height: 4px;
            background: #189cd0;
            transform: scaleX(0);
            transition: 0.4s linear;
            transform-origin: left;
        }

        .accueil .ligne:hover .bottom-solid {
            transform: scaleX(1);
        }


        /*
# Mifarana eto ny nav bar
*/
        /* Manomboka eto ny header */
        .title-ligne h3 {
            display: none;
            color: #000;
            font-weight: bold;
            line-height: 30px;
        }

        .title-ligne h3 span {
            color: #189cd0;
        }
        
        .para_header {
            font-size: 15px;
            color: #535353;
            margin-bottom: 20px;
        }
        
        .description_emedia_acceuil {
            background-color: #dbdbdb;
            padding: 10px;
            clip-path: polygon(50% 0%, 100% 0, 100% 94%, 0 100%, 0 0);
        }
        /*tapitra eto ny navbar*/
        /*description on ligne*/
        
        .tous_page {
            margin-top: 80px;
        }
        
        #NTIC_LICENCE {
            margin-top: -30px!important;
            animation-name: modalSlideDwon;
            animation-duration: 2s;
            background: white;
            padding: 50px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
        }

        .tous_page h4 {
            font-weight: 600;
        }
        
        @keyframes modalSlideDwon {
            0% {
                transform: translateX(-1500px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        #Can_LICENCE {
            display: none;
            margin-top: -30px!important;
            animation-name: modalSlideDwon;
            animation-duration: 2s;
            background: white;
            padding: 50px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
            z-index: 1;
        }
        
        @keyframes modalSlideDwon {
            0% {
                transform: translateX(-1500px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        #MPJ_LICENCE {
            display: none;
            margin-top: -30px!important;
            animation-name: modalSlideDwon;
            animation-duration: 2s;
            background: white;
            padding: 50px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
        }
        
        @keyframes modalSlideDwon {
            0% {
                transform: translateX(-1500px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        #MANAGEMENT_LICENCE {
            display: none;
            margin-top: -30px!important;
            animation-name: modalSlideDwon;
            animation-duration: 2s;
            background: white;
            padding: 50px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
        }
        
        @keyframes modalSlideDwon {
            0% {
                transform: translateX(-1500px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        #DROIT_LICENCE {
            display: none;
            margin-top: -30px!important;
            animation-name: modalSlideDwon;
            animation-duration: 2s;
            background: white;
            padding: 50px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
        }
        
        @keyframes modalSlideDwon {
            0% {
                transform: translateX(-1500px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        
        .object {
            margin-top: -39px;
        }
        
        .titre {
            color: #189cd0;
        }
        
        .titre_object {
            color: #e60049!important;
        }
        
        .nivau_licence {
            color: #189cd0 !important;
        }
        
        .nivau_master {
            color: #e60049!important;
        }
        
        #NTIC_MASTER {
            display: none;
            margin-top: -30px!important;
            animation-name: modalSlideDwon;
            animation-duration: 2s;
            background: white;
            padding: 50px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
        }
        
        @keyframes modalSlideDwon {
            0% {
                transform: translateX(-1500px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        .titre {
            font-size: 20px;
            font-weight: bold;
        }
        
        .btn {
            border: 1px solid #189cd0 !important;
            border-radius: 25px;
            color: #189cd0;
            transition: 1s;
            padding-top: 1px;
            padding-bottom: 1px;
            font-size: 14px;
        }
        
        .btn:hover {
            color: #189cd0;
            background: transparent;
        }
        
        .btn_master {
            border: 1px solid #e60049;
            border-radius: 25px;
            color: #e60049;
            transition: 1s;
            padding-top: 1px;
            padding-bottom: 1px;
            font-size: 14px;
        }
        
        .btn_master:hover {
            color: #fff;
            background: #e60049;
        }
        
        .card-title_filiere {
            font-size: 18px;
        }
        
        .nivau {
            font-weight: 600;
            color: #1d3ede;
        }
        
        #ntic {
            background: rgb(221, 221, 221);
        }
        
        .licence {
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
            padding: 15px;
        }
        
        .master {
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
            padding: 15px;
        }
        
        #CAN_MASTER {
            display: none;
            margin-top: -30px!important;
            animation-name: modalSlideDwon;
            animation-duration: 2s;
            background: white;
            padding: 50px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
        }
        
        @keyframes modalSlideDwon {
            0% {
                transform: translateX(-1500px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        #MPJ_MASTER {
            display: none;
            margin-top: -30px!important;
            animation-name: modalSlideDwon;
            animation-duration: 2s;
            background: white;
            padding: 50px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
        }
        
        @keyframes modalSlideDwon {
            0% {
                transform: translateX(-1500px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        #MBA_MASTER {
            display: none;
            margin-top: -30px!important;
            animation-name: modalSlideDwon;
            animation-duration: 2s;
            background: white;
            padding: 50px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
        }
        
        @keyframes modalSlideDwon {
            0% {
                transform: translateX(-1500px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        #DROIT_MASTER {
            display: none;
            margin-top: -30px!important;
            animation-name: modalSlideDwon;
            animation-duration: 2s;
            background: white;
            padding: 50px;
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
        }
        
        @keyframes modalSlideDwon {
            0% {
                transform: translateX(-1500px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        .btn-custom {
            background: #189cd0;
            border-color: #01e6f8;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            min-height: 48px;
        }
        
        .btn-custom:focus,
        .btn-custom:hover,
        .btn-custom:active,
        .btn-custom:active:focus {
            background-color: transparent;
            color: #fff;
        }
        
        .inscri {
            margin-top: 148px !important;
            margin-left: -39px;
        }
        
        .inscri a {
            text-decoration: none!important;
        }
        
        .navbar h4 {
            font-size: 20px!important;
        }

        /*footer*/

footer {
    background: #189cd0;
    font-size: 15px;
    color: white;
    margin-top: 50px;
}

footer p {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*footer farany*/
        
        @media (min-width: 1200px) {
            .navbar {
                background: white!important;
                margin-top: 40px;
                box-shadow: 0 0 0px 1px rgba(73, 73, 73, 0.3);
                transition: 0.3s;
                padding: 3px;
                text-align: center;
            }
            .navbar .navbar-brand {
                color: aliceblue !important;
            }
            .navbar ul li a:hover {
                background: none;
                color: #189cd0 !important;
                border-top-right-radius: 15px;
                border-bottom-left-radius: 15px;
            }
            .navbar ul li a {
                color: #189cd0 !important;
                font-size: 15px;
                transition: 0.3s;
            }
            .navbar ul li .ligne {
                color: #189cd0;
            }
            .logo_emedia {
                height: 40px;
            }
            .on {
                margin-top: 0!important;
                transition: 0.6s;
            }
            .onTop {
                margin-top: 40px!important;
                transition: 0.6s;
            }

            .title-ligne h3 {
                display: none;
            }
        }
        
        @media (min-width: 992px) and (max-width: 1199.98px) {}
        
        @media (min-width: 768px) and (max-width: 991.98px) {
            .navbar {
                background: white!important;
                margin-top: 0;
                box-shadow: 0 0 0px 1px rgba(73, 73, 73, 0.3);
                transition: 0.3s;
                padding: 3px;
                text-align: center;
            }

            .navbar-collapse {
                left: 38% !important;
            }

            .btn_master {
                border: 1px solid #e60049;
                border-radius: 25px;
                color: #e60049;
                transition: 1s;
                padding-top: 1px;
                padding-bottom: 1px;
                font-size: 11px;
            }
            .btn {
                border: 1px solid #189cd0;
                border-radius: 25px;
                color: #189cd0;
                transition: 1s;
                padding-top: 1px;
                padding-bottom: 1px;
                font-size: 11px;
            }
            .card-title_filiere {
                font-size: 13px;
            }
            .btn-custom {
                background: linear-gradient(-90deg, #01e6f8, #1d3ede);
                border-color: #01e6f8;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                min-height: 48px;
                margin-bottom: 100px;
            }
            .btn-custom:focus,
            .btn-custom:hover,
            .btn-custom:active,
            .btn-custom:active:focus {
                background-color: #1d3ede;
                color: #1d3ede;
                color: #fff;
            }
        }
        
        @media (min-width: 576px) and (max-width: 767.98px) {
            .navbar {
                background: white!important;
                margin-top: 0;
                box-shadow: 0 0 0px 1px rgba(73, 73, 73, 0.3);
                transition: 0.3s;
                padding: 3px;
                text-align: center;
            }
            .navbar h4 {
                display: none;
            }

            .navbar-collapse {
                left: 38% !important;
            }

            .btn-custom {
                background: linear-gradient(-90deg, #01e6f8, #1d3ede);
                border-color: #01e6f8;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                min-height: 48px;
                margin-left: 33px;
                margin-top: -72px;
                margin-bottom: 48px;
            }
        }
        
        @media (min-width: 376px) and (max-width: 575.98px) {
            .navbar {
                background: white!important;
                margin-top: 0;
                box-shadow: 0 0 0px 1px rgba(73, 73, 73, 0.3);
                transition: 0.3s;
                padding: 3px;
                text-align: center;
            }
            .navbar h4 {
                display: none;
            }

            .navbar h3 {
                display: none !important;
            }

            .navbar-collapse {
                left: 36% !important;
            }

            .overlay img {
                height: 300px;
            }
            .btn-custom {
                background: linear-gradient(-90deg, #01e6f8, #1d3ede);
                border-color: #01e6f8;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                min-height: 48px;
                margin-left: 33px;
                margin-top: -72px;
                margin-bottom: 48px;
            }

            .title-ligne h3 {
                display: block;
            }
        }
        
        @media (min-width: 296px) and (max-width: 375.98px) {
            .navbar {
                background: white!important;
                margin-top: 0;
                box-shadow: 0 0 0px 1px rgba(73, 73, 73, 0.3);
                transition: 0.3s;
                padding: 3px;
                text-align: center;
            }
            .navbar h4 {
                display: none;
            }

            .navbar h3 {
                display: none !important;
            }

            .navbar-collapse {
                left: 24% !important;
            }

            .overlay img {
                height: 300px;
            }
            .btn-custom {
                background: linear-gradient(-90deg, #01e6f8, #1d3ede);
                border-color: #01e6f8;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                min-height: 48px;
                margin-left: 33px;
                margin-top: -72px;
                margin-bottom: 48px;
            }
            .card-title_filiere {
                font-size: 16px;
            }
            .tous_page h4 {
                font-size: 15px;
            }
            .tous_page p {
                font-size: 13px;
            }

            .title-ligne h3 {
                display: block;
            }
        
        }