/*general*/
li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

/*header*/

.main-menu {
  background-color: #fff;
  z-index: 99;
  transition: .5s;
}

.main-menu a{
  text-decoration: none;
  position: relative;
  color: #0000009d;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  transition: .5s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  background: #ffffff;
  color: #0000009d;
}

.sticky a {
  color: #0000009d;
}

#LogoMenu{
  width: 8rem;
}

#navbarNav{
  font-size: medium;
}

ul li .fa {
  font-size: 20px;
}


.nav-seconnecter {
  position: relative;
  border: 1px solid #189cd0;
  border-radius: 50px;
}

/*
.nav-seconnecter::before{
    --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: #ffffff;
    position: absolute;
    right: -35%;
    top: 3.4rem;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms;
    transform-origin: right center;
}

.nav-seconnecter::after {
  --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: #189cd0;
    position: absolute;
    right: 10%;
    top: .8rem;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale)) rotate(270deg);
    transition: 150ms;
    transform-origin: bottom center;
}

.nav-seconnecter::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    color: #ffffff;
    background-color: #189cd0;
    padding: .5rem;
    width: max-content;
    border-radius: 5px;
    text-align: center;
}

.nav-seconnecter:hover::before, 
.nav-seconnecter:hover::after {
    --scale: 1;
}

.nav-seconnecter::after {
    --translate-y: calc(-1 * var(--arrow-size));
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
}*/

.bottom-solid {
  justify-content: center;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #189cd0;
  transform: scaleX(0);
  transition: 0.4s linear;
  transform-origin: left;
}

.navbar-collapse .navbar-nav .nav-link:hover {
  color: gray !important;
}

.navbar-collapse .navbar-nav .nav-link.active .bottom-solid {
  transform: scaleX(1);
}

.navbar-collapse ul li:hover .bottom-solid {
  transform: scaleX(1);
}

/*section*/
.banner{
  height: 90vh;
}

.banner h1{
  font-size: 4.5rem !important;
  font-weight: bold;
  line-height: 120px;
  
}

.banner h4 {
  font-weight: bold;
}

.banner-media{
  color: #189cd0;
}

.btn{
  border-radius: 5rem !important;
  width: 8rem;
}

.banner-text{
  text-align: justify;
  text-justify: distribute;
  color: gray;
}

.social{
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.19);
}

.social a {
  font-size: 30px;
}

.social a:nth-child(1) i {
  color: #189cd0 !important;
}

.social a:nth-child(2) i {
  color: #012f93 !important;
}

.social a:nth-child(3) i {
  color: #189cd0 !important;
}

.test{
  background-image: url("../img/accueil/ok 6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -200px;
  background-position-y: -60px;
}

/*formation*/
.formation h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 120px;
}

.choisir{
  image-orientation: flip;
}
.icon-formation i {
  font-size: 4rem;
}
.pres {
  background-color: #087099;
  margin-top: -7rem;
  height: 20rem;
  border-radius: 10px;
  color: white;
}
.pres a {
  text-decoration: none !important;
  color: white;
  border-radius: 3px;
  padding: 0.3rem;
  border-style: solid;
  border: 0.5px solid white;
}
.ligne a {
  text-decoration: none !important;
  color: white;
  border-radius: 3px;
  padding: 0.3rem;
  border-style: solid;
  border: 0.5px solid white;
}
.cfp a {
  text-decoration: none !important;
  color: white;
  border-radius: 3px;
  padding: 0.3rem;
  border-style: solid;
  border: 0.5px solid white;
}
.ligne{
  background-color: #087099;
  margin-top: -3rem;
  height: 20rem;
  border-radius: 10px;
  color: white;
}
.cfp{
  background-color: #087099;
  margin-top: -7rem;
  height: 20rem;
  border-radius: 10px;
  color: white;
}

.pres h3, .ligne h3, .cfp h3 {
  font-size: 30px !important;
  font-weight: bold;
  line-height: 50px;
}

.pres:hover .savoir-plus a, .ligne:hover .savoir-plus a, .cfp:hover .savoir-plus a {
  margin-left: 30px;
}

.savoir-plus a {
  border: 2px solid !important;
  transition: .5s;
}

.savoir-plus a:hover {
  color: #fff;
}
/*fin formation*/
/*apropos*/
.apropos-left .img-fluid {
  height: 80vh !important;
}

.apropos-left {
  overflow: hidden;
}

.apropos-left img {
  transition: all 2s ease;
}

.apropos-left:hover img {
  transform: scale(1.1);
}

.apropos-right h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 100px;
  color: #000000d2;
}

.apropos-right h1 span {
  color: #189cd0 !important;
}

.apropos-right h1 span {
  color: #189cd0;
}

.apropos-right .cree {
  color: gray;
}

.oui{
  margin-top: -4rem;
}

/*actualites*/
.actualites h1{
  color: #000000d2;
  font-size: 4rem;
  font-weight: bold;
}

.card {
  border: none !important;
}

.card-body {
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.19);
  transition: .8s;
}

.card .card-title {
  text-align: center;
  font-size: 30px !important;
  font-weight: bold !important;
}

.card .card-text {
  font-size: 16px !important;
  color: gray;
}

.card:hover .card-body {
  background-color: #189cd0;
}

.card:hover .card-title {
  color: #ffffff !important;
}

.card:hover .card-text {
  color: #ffffff !important;
}

/*google news*/
.google-news ul {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  padding-left: 1px;
  padding-right: 1px;
}

.nav-pills .nav-link.active{
  background-color: #189cd0 !important;
}

.nav-pills .nav-link{
  background-color: #ffffff !important;
  border-radius: 0rem !important;
  padding: 1rem;
}

.tab-actualite {
  height: 85vh;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.19);
}

.news{
  color: #189cd0 !important;
  font-weight: bold;
  line-height: 20px;
}

.news.active{
  color: #ffffff !important;
  font-weight: bold;
  line-height: 20px;
}

.image {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.information h6{
  color: gray !important;
  font-weight: bold;
  line-height: 20px;
}

.information .top-solid {
  border-top: 2px solid gray;
}

.information p {
  color: #189cd0;
  font-weight: bold;
  line-height: 20px;
}

.information small {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.information a {
  border: none !important;
  color: #189cd0;
  float: right;
  transition: 0.5s;
}

.information a:hover {
  color: #189cd0;
  transform: translateX(5px);
}
/*fin actualites*/

/*media*/
.text-youtube{
  margin-top: 100px;
  color: #189cd0 !important;
}
.media{
  
}
.media h1{
  letter-spacing: 0px;
  color: #000000d2;
  font-size: 4rem;
  font-weight: bold;
}
.iframe-media{
  height: 76vh;
  position: absolute;
  right: -5px;
}
.iframe-media2{
  height: 38vh;
}
.iframe-media3{
  height: 37vh;
}
/*objectifs*/
.objectifs h1 {
  color: #000000d2;
  font-size: 4rem;
  font-weight: bold;
}

.objectif-text {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.objectifs .objectif-text:nth-child(1) {
  background: #189cd0;
}

.objectifs .objectif-text:nth-child(1) h2 {
  font-size: 40px;
  color: #fff;
}

.objectifs .objectif-text:nth-child(1) p {
  font-size: 20px;
  color: #fff;
}

.objectifs .objectif-text:nth-child(2) h2 {
  font-size: 40px;
}

.objectifs .objectif-text:nth-child(2) p {
  font-size: 20px;
  color: gray;
}

/*cotacts*/
.contact h1 {
  font-size: 4rem;
  font-weight: bold;
}

.icon-contact {
  font-size: 20px;
  color: #fff;
  background: #189cd0;
  border-radius: 50%;
}

.contact-container h3 {
  font-weight: bold;
  line-height: 80px;
}

.contact-container p {
  color: gray;
}

/*footer*/
footer {
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.19);
}

footer div {
  font-weight: bold !important; 
  line-height: 30px !important;
  color: #189cd0 !important;
}

/*responsive*/
@media (min-width: 100px) and (max-width: 991px) {
  /*section*/
  .banner {
    height: auto;
  }

  .banner h1 {
    
  }

  .test {
    display: none;
  }

  /*navbar*/
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    margin-top: 20px;
  }

  .bottom-solid {
    width: 50%;
    left: 25%;
  }

  /*a propos*/
  .apropos-left {
    display: none;
  }

  /*formations*/
  .media-titre {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.9px) {
  /*section*/
  .banner h1 {
    font-size: 4rem !important;
  }

  /*a propos*/
  .apropos-right h1 {
    font-size: 3.5rem !important;
    line-height: 100px;
  }

  .cree {
    margin-top: 50px !important;
  }

  /*actualites*/
  .actualites h1 {
    font-size: 3.5rem;
    line-height: 100px;
  }

  /*formation*/
  .formation h1 {
    font-size: 3.5rem;
    line-height: 100px;
  }

  /*objectif*/
  .objectifs h1 {
    font-size: 3.5rem;
    line-height: 100px;
  }

  /*contact*/
  .contact h1 {
    font-size: 3.5rem;
    line-height: 100px;
  }
  
}

@media (min-width: 576px) and (max-width: 767.9px) {
  /*section*/
  .banner h1 {
    font-size: 3.5rem !important;
  }

  /*a propos*/
  .apropos-right h1 {
    font-size: 3.5rem;
    line-height: 80px;
  }

  .oui {
    margin-top: 3rem;
  }

  /*actualites*/
  .actualites h1 {
    font-size: 3.5rem;
    line-height: 80px;
  }

  /*formation*/
  .pres {
    margin-top: -3rem
  }

  .cfp {
    margin-top: 2rem;
    left: 50%;
  }
  
}

@media (min-width: 486px) and (max-width: 575.9px) {
  /*section*/
  .banner h1 {
    font-size: 3.5rem !important;
    line-height: 80px
  }
  
  .banner h4 {
    font-size: 20px;
  }

  /*a propos*/
  .oui {
    margin-top: 2rem;
  }

  /*formation*/
  .pres {
    margin-top: -2rem;
  }

  .ligne, .cfp {
    margin-top: 1rem;
  }
}

@media (min-width: 200px) and (max-width: 485.9px) {
  /*section*/
  .banner h1 {
    font-size: 3rem !important;
    line-height: 60px;
  }

  .banner h4 {
    font-size: 20px;
  }
  
  /*a propos*/
  .propos-right h1 {
    font-size: 3rem;
    line-height: 40px;
  }

  .oui {
    margin-top: 1rem;
  }

  /*formation*/
  .pres {
    margin-top: -2rem;
  }

  .ligne, .cfp {
    margin-top: 1rem;
  }
}





